/* FOOTER
-------------------------------------------------*/
.main-footer {
    @extend %space;
    color: $black;
    // background: lighten($colorPrimary, 2%);
    text-align: center;
    small {
        display: block;
    }
    a {
        color: $colorBase;
    }
}
