/* ABOUT
-------------------------------------------------*/
.about {
    @extend %space;
    .media {
        margin-bottom: $space;
    }

    .about-ul{
      ul{
        li{
          margin: 7px;
          font-size: 1.2rem;
        }
      }
    }
}
